<input type="text"  ng-model="ownerName" ng-model-options="{ debounce: 250 }" ng-change="highLight()"><input type="button" ng-click="addOwner()" />

{{errors}}
<table class="table">
    <tr>
        <th ng-click="filtering('Name')" class="filter">Name <i class="glyphicon" ng-class="filterArrow('Name')"></i></th>
        <th ng-click="filtering('Count')" class="filter">Pets count <i class="glyphicon" ng-class="filterArrow('Count')"></i></th>
        <th></th>
    </tr>
    <tr ng-repeat="owner in owners">
        <td ng-bind-html="owner.Name|highLight:ownerName" ></td>
        
        <td>{{owner.PetsCount}}</td>
        <td><button class="button">Delete</button></td>
    </tr>
</table>
<ul uib-pagination total-items="ownersCount" items-per-page="itemsOnPage" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" num-pages="countOfPages"></ul>
<br />
{{data|json}}